*{
    margin: 0;
    padding: 0;
}

.zc-pbox {
    width: 100%;
    min-width: 1200px;
    background-color: #f2f3f5;
    padding: 60px 0;
}

.zc-findbox {
    width: 624px;
    margin: 80px auto;
    overflow: hidden;
}

.zc-inbox {
    width: 1198px;
    height: 558px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #eceef0;
    overflow: hidden;
}

.zc-findbox li {
    float: left;
    width: 154px;
    height: 50px;
    position: relative;
    list-style: none;
}

.zc-findbox li.passed span.line {
    border-bottom: 2px solid #6ab0ff;
}

.line1 {
    border-bottom: 2px solid #e4e6e9;
    float: left;
    width: 154px;
    height: 12px;
}

.line2 {
    border-bottom: 2px solid #e4e6e9;
    float: left;
    width: 154px;
    height: 12px;
}

.line3 {
    border-bottom: 2px solid #e4e6e9;
    float: left;
    width: 154px;
    height: 12px;
}

.zc-findbox li .zc-blcir {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: 64px;
    z-index: 18;
    color: #fff;
    font-style: normal;
    text-align: center;
    font-size: 18px;
    background: url(https://imagepre.zuchecdn.com/newStatic/newversion/common/icon_new.png) no-repeat;
    background-position: -79px -99px;
}

.zc-findbox li i.find-proce {
    float: left;
    width: 154px;
    margin-top: 6px;
    color: #93939e;
    text-align: center;
    font-style: normal;
    font-size: 12px;
}

.zc-findbox li span.e-place {
    float: left;
    width: 154px;
    height: 12px;
}

.zc-blcir-two{
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: 64px;
    z-index: 18;
    color: #fff;
    font-style: normal;
    text-align: center;
    font-size: 18px;
    background: url(https://imagepre.zuchecdn.com/newStatic/newversion/common/icon_new.png) no-repeat;
    background-position: -119px -99px;
}

.zc-blcir-three{
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: 64px;
    z-index: 18;
    color: #fff;
    font-style: normal;
    text-align: center;
    font-size: 18px;
    background: url(https://imagepre.zuchecdn.com/newStatic/newversion/common/icon_new.png) no-repeat;
    background-position: -119px -99px;
}

.zc-blcir-four{
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: 64px;
    z-index: 18;
    color: #fff;
    font-style: normal;
    text-align: center;
    font-size: 18px;
    background: url(https://imagepre.zuchecdn.com/newStatic/newversion/common/icon_new.png) no-repeat;
    background-position: -119px -99px;
}

.zc-retan{
    display: inline-block;
    background: url(https://imagepre.zuchecdn.com/newStatic/newversion/common/icon_new.png) no-repeat;
}

.zc-btn {
    width: 320px;
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #fabe00;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border: none;
    font-family: "Microsoft YaHei";
    cursor: pointer;
    margin: 0 auto;
}
input[type=password], input[type=text] {
    border-radius: 0;
    width: 298px;
    padding: 9px 10px;
    border-color: #e9ebee;
    border-style: solid;
    border-width: 1px;
    height: 18px;
    font: 14px/18px "Microsoft YaHei",SimSun,Tahoma,Verdana,Arial,sans-serif;
    outline: 0;
    color: #93939e;
    vertical-align: middle;
    background-color: #fff;
}
#tel{
    color: #6ab0ff;
}

.zc-findn-tel {
    margin-top: 50px;
    line-height: 36px;
    text-align: center;
    color: #93939e;
    font-size: 14px;
}

.zc-findipt {
    margin: 0 auto 35px;
}

.zc-iptbox label span {
    vertical-align: middle;
    margin-top: 8px;
}

#zc-is {

}

.zc-findipt .zc-iptbox {
    width: 320px;
    margin: 0 auto 10px;
    list-style: none;
}

.zc-iptbox label {
    position: absolute;
    left: 1px;
    top: 2px;
    z-index: 9;
    width: 34px;
    height: 37px;
    text-align: center;
    background-color: #fff;
}

.zc-iptbox .zc-ipt {
    display: inline-block;
    width: 273px;
    height: 20px;
    color: #93939e;
    padding-left: 35px;
    font-size: 13px;
}

.zc-findpro .find-text p {
    height: 40px;
    color: #93939e;
    text-align: center;
    font-size: 16px;
}

#user-tel {
    color: #6ab0ff;
}

#tel-xiugai {
    color: #6ab0ff;
    text-decoration: none;
}

.btn-getdtm, .zc-iptbox .btn-getdtm {
    display: inline-block;
    border: 1px solid #ffde74;
    color: #fabe00;
    background-color: #fffaea;
}

.btn-dtm, .zc-iptbox .btn-dtm {
    margin-left: 10px;
    width: 108px;
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
}

.zc-findpro2{
    display: none;
}