*{
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    min-width: 1200px;
    padding: 30px 0;
    background-color: #f2f3f5;

}

.reg-title {
    font-size: 24px;
    color: #2f2f39;
    line-height: 36px;
    margin-bottom: 26px;
    margin-top: 25px;
}

.con_left {
    width: 634px;
    padding: 40px 0 0 50px;
}

.form li {
    list-style: none;
    margin-bottom: 9px;
    padding: 0 0 0 38px;
}

.rstar {
    font-size: 12px;
    color: #ff8650;
    vertical-align: middle;
}

.zc-iptbox {
    margin-bottom: 9px;
    position: relative;
}

.zc-iuser {
    position: absolute;
    left: 60px;
    top: 12px;
}

.zc-ipt {
    width: 273px;
    height: 40px;
    color: #93939e;
    padding-left: 35px;
    font-size: 13px;
}

#zc-iptbox-l {
    margin-bottom: 9px;
    position: relative;
    padding: 0 0 0 48px;
}

.btn-dtm {
    display: inline-block;
    border: 1px solid #ffde74;
    color: #fabe00;
    background-color: #fffaea;
    margin-left: 10px;
    width: 108px;
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
}

#xname-first {
    width: 149px;
    height: 40px;
    color: #93939e;
    padding-left: 35px;
    font-size: 13px;
}

.zc-safepsw {
    display: inline-block;
    position: relative;
    top: 10px;
    margin-left: 15px;
}

.zc-safepsw span {
    float: left;
    width: 54px;
    height: 20px;
    line-height: 20px;
    background-color: #f2f3f5;
    text-align: center;
    font-size: 12px;
    color: #93939e;
    border: 1px solid #e9ebee;
    border-right: none;
}

.lfwtk {
    width: 400px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    color: #60606c;
    padding-left: 3px;
    margin-bottom: 30px;
}

.lfwtk .zc-yes {
    vertical-align: middle;
    margin-right: 4px;
}

a {
    color: #6ab0ff;
    text-decoration: none;
}

.zc-btn {
    width: 320px;
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #fabe00;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border: none;
    font-family: "Microsoft YaHei";
    cursor: pointer;
    margin-left: 44px;
}

.con-kuang {
    float: left;
}

.con_right {
    width: 463px;
    height: 558px;
    float: right;
    border-left: 1px dashed #e9ebee;
    padding-left: 52px;
    margin-top: 37px;
}

.reg-title {
    line-height: 36px;
    margin-bottom: 26px;
    font-size: 16px;
    color: #60606c;
}

